@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.nav{
    width: 100rem;
    height: 5rem;
    background-color: #03071E;
    color: white;  
}
.nav-list ul, .nav-list li, .nav-list a{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #E5E5E5;
}
.nav-list li:nth-child(3){
    margin-left: -2em;
}
.nav-list li:nth-child(2){
    border: 0;
    padding-left: 3em;
    padding-top: 0.1em;
}
.nav-list li:nth-child(4){
    border: 0;
    padding-left: 4em;
    padding-top: 0.1em;
}
.nav-list{
    margin-left: 20rem;
}
.nav-list ul{
    padding: 0 10em;
    margin-top: -1em;
}

.nav-list span{
    display: block;
    padding-top: 2em;
    margin-left: -5em;
}
.nav-list div{
    margin-left: 40rem;
    margin-top: -2em;
}

.prog{
    position: absolute;
    width: 150px;
    height: 40px;
    padding: 0.5em 0;
    border: 1px solid white;
    text-align: center;
    border-radius: 50px;
    top: 3.5em;
    left: 30em;
}

h1{
    margin: 2rem 12rem;
    width: 554px;
    height: 306px;
    font-size: 4.2rem;
}

p{
    width: 582px;
    height: 18px;
    font-size: 18px;
    margin: -2em 10em;
}
.img-1{

    margin: 5.3rem 0;
}
.img-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10rem;
}

.img-1 h4{
    width: 259px;
    height: 44px;
    margin: 0 15em;
}
.img-1 h4{
    margin-top: -60px;
}
.img-1 p{
    margin: 0 13em;
}

.img-2 img{
    position: absolute;
    top: -1px;
    margin-left: 60rem;
    margin-top: 7em;
}

.content{
    width: 100rem;
    height: 100px;
    /* margin-top: 10.5em; */
    background-color: bisque;
}

.gem i{
    margin-left: 5em;
    font-size: 30px;
    margin-top: 0.5em;
}
.gem p{
    margin: 0.7em 6rem;
}
.certificate i{
    position: absolute;
    margin-top: -1.2em;
    font-size: 32px;
    margin-left: 23rem;   
}

.certificate p{
    line-height: 2rem;
    margin-left: 20rem;
}

.award i{
    position: absolute;
    margin-left: 35rem;
    font-size: 2.5rem;
    margin-top: -1.5rem;
}
.award p{
    margin-left: 29em;
    line-height: 3.5em;
}

.img-3 img{
    width: 582px;
    margin: 3rem 5em;
}

.img-3 p{
    position: absolute;
    width: 871px;
    margin-left: 9em;
    font-weight: 400;
    font-size: 70px;
    line-height: 77px;
    top: 1000px;
    left: 5rem
}

.img-3 :nth-child(3){
    position: absolute;
    width: 701px;
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
    top: 1150px;
    left: 35em;
}

.clock-prog{
    position: absolute;
    width: 230px;
    height: 50px;
    background-color: bisque;
    margin: 0 2rem;
    border-radius: 50px;
    top: 1185px;
    left: 42rem;
}
.clock-prog i{
    padding: 1rem 1.5rem;
}
.clock-prog span{
    padding: 0 1rem;
    letter-spacing: .1rem;
}

.img-4 img{
    position: absolute;
    min-width: 865px;
    height: 357px;
    top: 85rem;
    left: 45rem;
    object-fit: cover;
}

.pedicure{
    width: 100rem;
    height: 60rem;
    background-color:#ECD8BD;
    margin: 5em 0;
}
.pedicure h1{
    width: 90rem;
    text-align: center;
   margin-top: 5rem;
   margin-left: 1em;
   line-height: 3em;
}
.pedicure p{
    width: 1000px;
    color: #7D5620;
    font-size: 16px;
    position: absolute;
    top: 122rem;
    left: 25em;
}

.box-img{
    gap: 2em;
    display: flex;
    margin: -9em 2em;
}

.box-1{
    width: 258px;
    height: 382px;
}

.box-1 img{
    width: 258px;
    height: 382px;
}
.box-1 p{
    position: absolute;
    width: 200px;
    font-size: 25px;
    margin-top: 16.5em;
    left: -8.5em;
}
.box-1 p:nth-child(3){
    position: absolute;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 0.2em 0;
    font-size: 16px;
    top: 2175px;
    left: -8em;
    border-radius: 50px;
    background-color: #B58224;
    color: #fff;
}

.box-1 span{
    position: absolute;
    top: 2440px;
    left: 9.5rem;
}
.box-2{
    width: 278px;
    height: 382px;
}
.box-2 img{
    width: 278px;
    height: 382px;
}
.box-2 p{
    position: absolute;
    top: 2400px;
    font-size: 30px;
    left: 1em;
    line-height: 3em;
}
.box-2 span{
    position: absolute;
    top: 150em;
    left: 20.5em;
    line-height: 3em;
    margin-left: 0.5em;
}
.box-3{
    width: 278px;
    height: 382px;
}
.box-3 img{
    width: 278px;
    height: 382px;
}
.box-3 p{
    position: absolute;
    top: 2400px;
    font-size: 32px;
    left: 9.9em;
    line-height: 3em;
}
.box-3 span{
    position: absolute;
    top: 150em;
    left: 40em;
    line-height: 3em;
}
.box-4{
    width: 278px;
    height: 382px;
}
.box-4 img{
    width: 278px;
    height: 382px;
}
.box-4 p{
    position: absolute;
    top: 2400px;
    font-size: 32px;
    left: 19.5em;
    line-height: 3em;
}
.box-4 span{
    position: absolute;
    top: 150em;
    left: 59.3em;
    line-height: 3em;
}
.box-5{
    width: 278px;
    height: 382px;
}
.box-5 img{
    width: 278px;
    height: 382px;
}
.box-5 p{
    width: 140px;
    position: absolute;
    top: 2400px;
    font-size: 32px;
    left: 29.3em;
    line-height: 3em;
}
.box-5 span{
    position: absolute;
    top: 150em;
    left: 79em;
    line-height: 15em;
}

.anchor a{
    width: 250px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    top: 2600px;
    left: 40em;
    padding: 0.7em 0;
    border-radius: 50px;
    text-align: center;
    color: #03071E;
    text-decoration: none;
}
.img-5{
    position: absolute;
    width: 460px;
    height: 654px;
    left: -2em;
}

.img-5 img{
    width: 460px;
    height: 654px;
}

.img-6{
    position: absolute;
    width: 460px;
    height: 654px;
    top: 2820px;
    left: 71em;
}

.img-6 img{
    width: 460px;
    height: 654px;
}

.text-content p{
    position: absolute;
    text-align: center;
    left: 12em;
    top: 150em;
    font-size: 20px;
}
.text-content h3{
    width: 600px;
    position: absolute;
    left: 13em;
    top: 75em;
    font-size: 40px;
}
.text-content p:nth-child(3){
    position: absolute;
    font-size: 16px;
    top: 198em;
    left: 20em;
}
.text-paragraph{
    position: absolute;
    top: 229em;
    left: -15em;
}
.text-paragraph p{
    width: 900px;
    font-weight: 400;
    font-size: 40px;
}
.box-content{
    position: absolute;
    width: 1400px;
    height: 289px;
    top: 230em;
    left: 10em;
}

.cosmetice-list ul{
    display: flex;
    gap: 3em;
}

.cosmetice-list li, a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.cosmetice-list a:hover{
    text-decoration: underline;
    color: white;
}
.cosmetice-list li:hover{
    background-color: bisque;
}

.cosmetice-list li:nth-child(1), li:nth-child(2), li:nth-child(4), li:nth-child(5){
    width: 200px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    padding-top: 0.5em;
    border: 2px solid black;
}

.cosmetice-list li:nth-child(3){
    width: 270px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 0.5em;
    border: 2px solid black;
}
.box-content p{
    position: absolute;
    width: 726px;
    top: 6em;
    left: -10em;
}

.treatment{
    position: absolute;
    width: 378px;
    height: 212px;
    left: 55em;
    margin: 1em 0;
}

.treatment p{
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    top: 2em;
}
.treatment ol{
    position: absolute;
    top: 2em;
    left: 1em;
    /* line-height: 3em; */
}
.treatment li{
    border: 0;
    list-style: disc;
    font-size: 16px;
}

.treatment li:nth-child(2){
    width: 240px;
}
.treatment li:nth-child(3){
    position: absolute;
    top: 3em;
    width: 390px;
    line-height: 3em;
}
.treatment li:nth-child(4){
    position: absolute;
    top: 6em;
    line-height: 0.1em;
    width: 250px;
}
.treatment li:nth-child(5){
    position: absolute;
    top: 7em;
    width: 144px;
    line-height: 1.1em;
}
.treatment li:nth-child(6){
    /* width: 144px; */
    position: absolute;
    top: 9em;
    line-height: 1.1em;
}

.glowing-skin{
    position: absolute;
    width: 1584px;
    height: 1072px;
    top: 250em;
    background-color: #ECD8BD;
}

.glowing-skin h1{
    text-align: center;
    margin-inline: auto;
    margin-top: 1.5em;
}
.glowing-skin p{
    position: absolute;
    margin-inline: auto;
    font-size: 16px;
    top: 15em;
    left: 43em;
}

.group-9{
    position: absolute;
    width: 1550px;
    height: 610px;
    top: 270em;
    left: 1em;
}
.group-9-img{
    display: flex;
    gap: 3.5em;
}
.box-6{
    width: 473px;
    height: 382px;
}
.box-6 p{
    position: absolute;
    top: 11.4em;
    left: -10em;
    font-size: 41px;
    color: #212121;
}
.box-6 p:nth-child(2){
    position: absolute;
    top: 31.5em;
    font-size: 15px;
    color: #7D5620;
}

.box-6 span{
    position: absolute;
    top: 29em;
    left: 0em;
    color: #212121;
    line-height: 2em;
}
.box-6 img{
    width: 473px;
    height: 382px;
}
.box-7{
    width: 473px;
    height: 382px;
}
.box-7 p{
    width: 400px;
    position: absolute;
    top: 11.4em;
    left: 3em;
    font-size: 41px;
    color: #212121;
}
.box-7 p:nth-child(2){
    position: absolute;
    top: 35em;
    left: 25.5em;
    font-size: 15px;
    color: #7D5620;
    line-height: 3em;
}
.box-7 span{
    position: absolute;
    top: 33em;
    left: 33.5em;
    line-height: 2em;
    color: #212121;
}
.box-7 img{
    width: 473px;
    height: 382px;
}
.box-8{
    width: 473px;
    height: 382px;
}
.box-8 p{
    width: 400px;
    position: absolute;
    top: 11.4em;
    left: 16em;
    font-size: 41px;
    color: #212121;
}
.box-8 p:nth-child(2){
    width: 480px;
    position: absolute;
    top: 35em;
    left: 61em;
    font-size: 15px;
    color: #7D5620;
    line-height: 3em;
}
.box-8 span{
    position: absolute;
    text-decoration: line-through;
    top: 35em;
    left: 66.5em;
    line-height: 3em;
}
.box-8 span:nth-child(4){
    position: absolute;
    text-decoration: none;
    left: 71em;
}
.box-8 img{
    width: 473px;
    height: 382px;
}

.service{
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #212121;
    position: absolute;
    top: 42em;
    left: 35em;
    color: #212121;
    padding-top: 0.5em;
    padding-left: 4em;
}

.email-content{
    position: absolute;
    width: 1300px;
    height: 400px;
    background-color: #ECD8BD;
    top: 325em;
    left: 10em;
}

.email-content p{
    position: absolute;
    top: 4em;
    left: -5em;
    width: 900px;
    font-size: 50px;
}

.email-content p:nth-child(2){
    width: 900px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 17em;
    left: 2em;
    padding-top: 0.5em;
    padding-left: 2em;
    font-size: 20px;
    color: #212121;
    background-color: #ffffff;
}
.email-content p:nth-child(3){
    width: 220px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 17em;
    left: 35.9em;
    font-size: 20px;
    text-align: center;
    padding: 0.5em 0;
    background-color: #212121;
    color: #ffffff;
}

hr{
    width: 1600px;
    position: absolute;
    top: 355em;
    border: 2px solid #9E9E9E;
}

footer{
    position: absolute;
    top: 360.5em;
    width: 1600px;
    min-height: 500px;
    background-color: #F5F5F5;
}
.footer-logo span{
    position: absolute;
    top: 5em;
    left: 5em;
}
.footer-logo p{
    position: absolute;
    top: 8em;
    left: -8em;
    font-size: 20px;
}
.footer-logo p:nth-child(3){
    position: absolute;
    top: 9em;
    left: -8em;
    line-height: 3em;
    font-size: 20px;
    color: #9E9E9E;
}
.footer-logo i{
    position: absolute;
    top: 2em;
    line-height: 8em;
    left: -0.5em;
    padding: 0 2em;
    font-size: 40px;
}
.footer-logo i:last-child{
    position: absolute;
    padding: 0 4em;
}

.pagini span{
    position: absolute;
    top: 5em;
    left: 35em;
    font-size: 20px;
}
.pagini ul{
    line-height: 3em;
}
.pagini li{
    border: 0;
    color: #9E9E9E;
    font-size: 20px;
    list-style: none;
}
.pagini li:nth-child(1){
    position: absolute;
    top: 7em;
    left: 35em;
}
.pagini li:nth-child(2){
    width: 50px;
    position: absolute;
    top: 7em;
    left: 35em;
    line-height: 4.8em;
}
.pagini li:nth-child(3){
    width: 50px;
    position: absolute;
    top: 7em;
    left: 35em;
    line-height: 9em;
}
.pagini li:nth-child(4){
    width: 50px;
    position: absolute;
    top: 7em;
    left: 35em;
    line-height: 11em;
}

.contact span{
    position: absolute;
    font-size: 20px;
    top: 5em;
    left: 45em;
}

.contact li{
    font-size: 20px;
    border: 0;
    color: #9E9E9E;
    list-style: none;
}
.contact li:nth-child(1){
    position: absolute;
    top: 7em;
    left: 44em;
}
.contact li:nth-child(2){
    position: absolute;
    top: 7em;
    left: 44em;
    line-height: 4em;
}
.contact li:nth-child(3){
    position: absolute;
    top: 7em;
    left: 44em;
    line-height: 8.6em;
}

.program span{
    position: absolute;
    top: 4em;
    left: 65em;
    font-size: 20px;
}

.program li{
    font-size: 20px;
    border: 0;
    color: #9E9E9E;
    list-style: none;
}

.program li:nth-child(1){
    position: absolute;
    top: 5em;
    left: 65em;
    line-height: 3em;
}
.program li:nth-child(2){
    width: 135px;
    position: absolute;
    top: 5em;
    left: 65em;
    line-height: 5em;
}