@media screen and (min-width: 768px){
    .nav{
        position: absolute;
        width: 1900px;
    }

    .nav-list span{ 
        font-size: 20px;
        line-height: 5em;
        margin-left: 8em;
    }

    .nav-list ul{
        padding: 0 18em;
        display: flex;
    }

    .prog{
        position: absolute;
        top: 1.5em;
        left: 70em;
        font-size: 20px;
        width: 200px;
        height: 50px;
        padding: 0.5em 0;
        border-radius: 50px;
        text-align: center;
        border: 2px solid #fff;
    }


    
    h1{
        position: absolute;
        top: 2.5em;
        left: 5em;
    }    


    p{
        position: absolute;
        width: 350px;
        top: 27em;
        left: 19.5em;
        font-size: 16px;
        
    }

    .img-1 img{
        position: absolute;
        line-height: 10em;
        top: 31em;
        left: 19em;

    }
    .img-1 h4{
        width: 280px;
        position: absolute;
        top: 24.6em;
        left: 19em;
    }
    .img-1 p{
        position: absolute;
        top: 36em;
        left: 25em;
        line-height: 3em;
    }
    .img-1 span{
        position: absolute;
        top: 35.5em;
        left: 23.5em;
    line-height: 2em;
    }

    .img-1 i{
        position: absolute;
        top: 35em;
        left: 32em;
        line-height: 2em;
    }

    .img-2 img{
        position: absolute;
        /* height: 650px; */
        top: 7.5em;
        left: 80em;
    }

    
    .content{
        position: absolute;
        width: 1900px;
        left: 0;
        top: 39.5em;
    }

    .img-3 img{
        position: absolute;
        width: 700px;
        height: 750px;
        object-fit: cover;
        top: 50em;
        left: 5em;
    }

    .img-3 p{
        width: 900px;
        position: absolute;
        top: 15em;
        left: 14.5em;
        font-size: 60px;
    }


    .img-3 p:nth-child(3){
        top: 73em;
        position: absolute;
        font-size: 16px;
        width: 700px;
        left: 55em;
        text-align: start;
    }

    .clock-prog{
        position: absolute;
        top: 78em;
        left: 55em;
        width: 250px;
        height: 60px;
        border-radius: 50px;
        background-color: #ECD8BD;
    }
    
    .img-4 img{
        position: absolute;
        top: 83em;
        left: 52em;
        width: 1065px;
        height: 375px;
    }

    /* pedicure */
    .pedicure{
        position: relative;
    top: 110em;

        width: 1900px;
        height: 1000px;

    }

    .pedicure h1{
        position: relative;
        top: -2em;
        line-height: 7.5em;
        left: 12em;
    }
    .pedicure p{
        position: absolute;
        font-size: 16px;
        color: #7D5620;
        top: 9em;
        line-height: 2em;
        left: 48em;
        font-size: 16px;

    }

    /* start box-img */
.box-img{
    position: absolute;
    top: 20em;
    left: 5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}
/* end box-img */

/* start box-1 img */
.box-1 img{
    position: relative;
    top: -6em;
    width: 320px;
    height: 400px;
}

.box-1 p{
    width: 200px;
    position: absolute;
    top: 11em;
    left: 0em;
    /* line-height: 3em; */
    font-size: 28px;
    color: #212121;
}
.box-1 p:nth-child(3){
    margin-top: 1em;
    padding: 0.2em 0;
    width: 100px;
    height: 40px;
    /* border: 2px solid black; */
    font-size: 16px;
    position: absolute;
    top: 25em;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background-color: #B58224;
}
.box-1 span{
    position: absolute;
    color: #212121;
    font-size: 16px;
    top: 26.5em;
    left: 7em;
}
/* end box-1 img */


/* start box-2 img */
.box-2 img{
    position: relative;
    top: -6em;
    width: 320px;
    height: 400px;
    object-fit: cover;
}
.box-2 p{
    font-size: 25px;
    position: relative;
    top: -4em;
    left: 0em;
    color: #212121;
}
.box-2 span{
    position: absolute;
    font-size: 16px;
    top: 22em;
}
/* end box-2 img */

/* start box-3 img */
.box-3 img{
    position: relative;
    top: -6em;
    left: 1em;
    width: 320px;
    height: 400px;
    object-fit: cover;
}

.box-3 p{
    position: relative;
    font-size: 25px;
    top: -4em;
    left: 0em;
    color: #212121;
}
.box-3 span{
    position: absolute;
    font-size: 16px;
    top: 22em;
    left: 44em;
}
/* end box-3 img */

/*start box-4 img */
.box-4 img{
    position: relative;
    top: -6em;
    width: 320px;
    height: 400px;
    object-fit: cover;
}

.box-4 p{
    position: relative;
    font-size: 25px;
    top: -4em;
    left: 0;
    color: #212121;
}

.box-4 span{
    position: absolute;
    font-size: 16px;
    top: 22em;
}

/* end box-4 img */

/* start box-5 img */
.box-5 img{
    position: relative;
    top: -6em;
    width: 320px;
    height: 400px;
    object-fit: cover;
}

.box-5 p{
    position: relative;
    font-size: 25px;
    width: 150px;
    left: 0em;
    color: #212121;
    top: -4em;
}

.box-5 span{
    position: absolute;
    font-size: 16px;
    top: 22em;
    line-height: 8em;
}

/* end box-5 img */

/* start anchor */
.anchor a{
    width: 250px;
    height: 60px;
    border: 2px solid #212121;
    position: absolute;
    top: 50em;
    left: 49em;
}
/* end anchor */
    /* end pedicure */

    /* text content */

    .img-5 img{
        position: relative;
        top: 115em;
        width: 500px;
        left: -1.5em;
    }

    .text-content p{
        position: absolute;
        width: 500px;
        font-size: 33px;
        top: 90em;
        left: 26em;
        color: #000fff;
    }

    .text-content h3{
        position: absolute;
        top: 60.5em;
        left: 10.5em;
        width: 800px;
        text-align: center;
        font-size: 50px;
    }

    .text-content p:nth-child(3){
        position: absolute;
        top: 139em;
        width: 800px;
        left: 23em;
        font-size: 23px;
    }
    
    .img-6 img{
        position: relative;
        top: 67em;
        left: 87em;
        width: 500px;
    }
    /* end text content */


    /* text-paragrph */
    .text-paragraph{
        position: absolute;
        top: 0;
    }

    .box-content{
        position: absolute;
        top: 0;
    }

    .text-paragraph p{
        position: absolute;
        width: 1000px;
    }

    .treatment p{
        position: absolute;
        width: 500px;
    }
    .treatment li{
        width: 400px;
    }
    /*end  text-paragrph */
    

    /* glowing-skin */
    .glowing-skin{
        position: relative;
        top: 112.5em;
        width: 1900px;
        height: 1000px;
    }
    .glowing-skin h1{
        position: absolute;
        left: 12em;
        top: 1.5em;
    }
    .glowing-skin p{
        position: absolute;
        left: 52em;
        top: 7em;
    }
    .group-9{
        position: absolute;
        left: 0;
        top: 0;
    }

    .group-9-img{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 5em;
        gap: 4em;
    }

    .box-7 p{
        position: absolute;
        top: 14em;
        left: 19em;
    }

    .box-7 p:nth-child(2){
        position: absolute;
        top: 30em;
        left: 38em;
        line-height: 9em;
    }

    .box-7 span{
        position: absolute;
        top: 30em;
        line-height: 8em;
        left: 36em;
    }

    .box-8 p{
        position: absolute;
        top: 14em;
        left: 38em;
    }

    .box-8 p:nth-child(2){
        position: absolute;
        font-size: 15px;
        top: 34em;
        left: 76em;
    }

    .box-8 span{
        position: absolute;
        top: 32em;
        line-height: 8em;
        left: 71.5em;
        text-decoration: line-through;
    }
    .box-8 span:last-child{
        position: absolute;
        top: 32em;
        line-height: 8em;
        left: 76em;
        text-decoration: none;
    }

    div .service{
        position: absolute;
        top: 260em;
        text-align: center;
        left: 36em;
    }

    /*end  glowing-skin */


    .email-content{
        position: relative;
        top: 118em;
        left: 10em;

    }
    hr{
        position: relative;
        top: 125em;
        width: 1900px;
    }

    footer{
        position: relative;
        width: 1900px;
        top: 130em;
        left: 0em;
    }

    .footer-logo span{
        position: absolute;
        top: 4em;
        left: 5em;
    }

    .footer-logo p{
        position: absolute;
        top: 11em;
        left: 9em;
    }

    .footer-logo i{
        position: absolute;
        top: 9em;
        left: 5em;
    }

    .footer-logo i:last-child{
        position: absolute;
        left: 6.5em;
    }
    
}